body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}
main {
    padding: 20px 0;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
.image-container {
    display: flex;
    flex-direction: column; /* Display images in a column */
    align-items: center; /* Center align images horizontally */
}
.image-wrapper {
    margin: 20px 0; /* Add margin to separate images */
    opacity: 0;
    animation: fadeIn 5s forwards;
}
.fade-in{
    animation: fadeIn 5s

}
@keyframes fadeIn {
      0% {  opacity: 0;}
    
    100%  {
        opacity: 1;
    }
}
